[Unit]
Description=Infisical Agent
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/infisical agent --config {{ runtime_sync_agent_config_path }}
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
