INFISICAL_DOMAIN={{ runtime_sync_infisical_domain }}
INFISICAL_ENV={{ runtime_sync_infisical_env }}
INFISICAL_PROJECT_ID={{ runtime_sync_infisical_project_id }}
INFISICAL_AGENT_CLIENT_ID={{ runtime_sync_infisical_agent_client_id }}
INFISICAL_AGENT_CLIENT_SECRET={{ runtime_sync_infisical_agent_client_secret }}
