[defaults]
inventory = inventory/terraform.yml
host_key_checking = True
remote_user = ubuntu

[ssh_connection]
ssh_args = -o CertificateFile=~/.ssh/id_ed25519-cert.pub -o IdentityFile=~/.ssh/id_ed25519